:root {
  --mobile-width: 1024px;
  --primary-color: #ddd;
  --primary-background: #111;
  --secondary-color: #ddd;
  --secondary-background: #282E34;
}

body, html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-background);
}

main {
  background-color: white;
}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: var(--mobile-width)) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
} */
