:local(.captionContainer) {
  border: 1px solid #fff;
  padding: 1.5em;
}

:local(.parallaxImg) {
  margin: 0;
  opacity: 0.65;
  overflow: hidden;
  
  /* create parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* center the captions */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

:local(.bgimg1) {
  background-image: url('../assets/black-and-white-body-dark-230675.jpg');
  min-height: 100vh;
}

:local(.caption1) {
  background-color: var(--primary-background);
  color: var(--primary-color);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

:local(.section1) {
  background-color: #fef;
  color: var(--primary-background);
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

:local(.section1 h3) {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: var(--primary-background);
}

:local(.bgimg2) {
  background-image: url('../assets/bridegroom-business-businessman-8115.jpg');
  /* min-height: 400px; */
  height: 100vh;
  /* background-position: 50% 20%; */
}

:local(.caption2) {
  max-width: 100%;
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}

:local(.section2) {
  color: var(--secondary-color);
  background-color: var(--secondary-background);
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

:local(.bgimg3) {
  background-image: url('../assets/coach-dance-dancing-12312.jpg');
  /* min-height: 400px; */
  height: 100vh;
}

:local(.section3) {
  color: var(--secondary-color);
  background-color: var(--secondary-background);
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
